<nav aria-label="Page navigation example" class="pagination">
  <ul class="pagination">
    <li class="page-item prev">
      <a
        class="page-link"
        href="/blog/page?page=<%= page-1 %>&limit=<%= limit %>"
        >Previous</a
      >
    </li>
    <li class="page-item next">
      <a
        class="page-link"
        href="/blog/page?page=<%= page+1 %>&limit=<%= limit %>"
        >Next</a
      >
    </li>
  </ul>
</nav>
