<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverImageURL" class="form-lable">Cover Image</label>
          <input
            type="file"
            class="form-lable"
            id="coverImageURL"
            name="coverImageURL"
            aria-describedby="coverImageURL"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input
            type="text"
            class="form-lable"
            id="title"
            name="title"
            aria-describedby="title"
          />
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea
            class="form-control"
            name="body"
            id="body"
            placeholder="Leave a body here"
          ></textarea>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="postvisiblity"
              id="public"
              value="public"
            />
            <label class="form-check-label" for="public"> Public </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="postvisiblity"
              id="private"
              value="private"
              checked
            />
            <label class="form-check-label" for="private"> Private </label>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
